docker {
    enabled = true
    temp = 'auto'
}

env.FILE_DATA = 'data.ttl'
env.FILE_SHAPES = 'shapes.ttl'
env.FILE_MODEL = 'maturityModel/maturitymodel_for_vocabulary.ttl'
env.FILE_OUTPUT = 'result.ttl'

env.mydatasource_identifier="http://stream-ontology.com/matvoc-core/dummy"
env.QMD_NAMESPACE = 'https://github.com/AKSW/rdf-maturitylevel-pipeline/executions/'
