---
rdf_prefix_path: "_data/prefixes.sparql"
layout: default
title: Maturity model report
---

{% capture categories_query %}
SELECT distinct ?category WHERE {
  ?qm qb:dataSet ?resourceUri ;
      :refMetric ?metric .
  ?metric dqv:inDimension ?dimension .
  ?dimension dqv:inCategory ?category .
}  order by ASC(?category)
{% endcapture %}

{% capture dimensions_query %}
SELECT distinct ?dimension WHERE {
  ?dimension dqv:inCategory ?resourceUri .
}
{% endcapture %}

{% capture dimension_rating_query %}
SELECT (SUM(?a) as ?x) WHERE {
  ?qm qb:dataSet ?resourceUri_0 ;
      :refMetric ?metric ;
      dqv:value ?a .
  ?metric dqv:inDimension ?resourceUri_1 .
}  group by ?report ?dimension
{% endcapture %}

{% capture maturity_level_query %}
SELECT distinct ?ml WHERE {
  ?ml a msv:MaturityLevel .
  ?qm qb:dataSet ?resourceUri ;
    <http://stream-ontology.com/maturitymodel/refResource> ?ds .
  ?ds msv:hasMaturityLevel ?ml .
}
{% endcapture %}

{% capture maturity_max_level_query %}
SELECT (max(?level) as ?l) WHERE {
      ?ml a msv:MaturityLevel ;
  		msv:level ?level	.
}
{% endcapture %}
{% assign max_level = 1 %}
{% assign levels = page.rdf | sparql_query: maturity_max_level_query %}
{% for l in levels %}
  {% assign max_level = l.l %}
{% endfor %}

{% capture overall_rating_query %}
SELECT (SUM(?a) as ?x) WHERE {
  ?qm qb:dataSet ?resourceUri ;
      dqv:value ?a .
}
{% endcapture %}

<h1>Quality dimension reports for {{ page.rdf | replace: "http://stream-ontology.com/maturitymodel/executions/", "" }} execution</h1>
{{ page.rdf | rdf_property: "rdfs:label" }} started <mark>{{ page.rdf | rdf_property: "prov:startedAtTime" }}</mark>
<br>
{% assign rating = page.rdf | sparql_query: overall_rating_query | first %}
  The rating is: <b>{{ rating.x }}</b>
<br />
<br />
{% assign mls = page.rdf | sparql_query: maturity_level_query %}
{% for ml in mls %}
  <b><u>Maturity level: {{ ml.ml | rdf_property: "msv:level" }}   (from maximal {{ max_level }})</u></b>
  <table class="table table-striped">
    <tbody>
      <tr>
          <td>
            <code>{{ ml.ml | rdf_property: "dc:description" }}</code>
          </td>
          <td>
            <code>Required rating points: {{ ml.ml | rdf_property: "msv:hasRequiredRatingOf" }}</code>
          </td>
      </tr>
    </tbody>
  </table>
{% endfor %}
<br>
{% assign categories = page.rdf | sparql_query: categories_query %}
{% for row in categories %}
  <h2>Category: {{ row.category | rdf_property: "rdfs:label" }}</h2>
  {% assign dimensions = row.category | sparql_query: dimensions_query %}
  {% for row2 in dimensions %}
    <h3>Dimension: {{ row2.dimension | rdf_property: "rdfs:label" }}</h3>
    {% assign array2 = "" | split: ',' %}
    {% assign array2 = array2 | push: page.rdf %}
    {% assign array2 = array2 | push: row2.dimension %}

    {% assign xs = array2 | sparql_query: dimension_rating_query %}
    {% for x in xs %}
      <code>Measured rating: {{ x.x }}</code>
    {% endfor %}
    <br />
    <code>Minimum rating value: {{ row2.dimension | rdf_property: "msv:hasMinimumRequiredRatingOf" }}, Maximum rating value: {{ row2.dimension | rdf_property: "msv:hasMaximumRatingValueOf" }}</code>
    <br />
    {% assign array = "" | split: ',' %}
    {% assign array = array | push: page.rdf %}
    {% assign array = array | push: row2.dimension %}

    {% assign query = 'SELECT distinct ?metric ?qm WHERE { ?qm qb:dataSet ?resourceUri_0 ; dqv:isMeasurementOf ?metric . ?metric dqv:inDimension ?resourceUri_1 }' %}
    {% assign metrics = array | sparql_query: query %}
    {% for row3 in metrics %}
      <h5>Validation result {{ row3.metric | replace: "http://stream-ontology.com/maturitymodel/", "" }}</h5>
      <table class="table table-striped">
        <tbody>
          <tr>
              <td>Metric</td>
              <td>
                <code>{{ row3.metric | rdf_property: "skos:definition" }}</code>
                <br />
                <code>Possible rating: {{ row3.metric | rdf_property: "msv:hasRatingValueOf" }}</code>
              </td>
          </tr>
          <tr>
              <td>Severity</td>
              <td>
                {% assign query2 = 'SELECT ?y WHERE { ?resourceUri :measurementValue ?y . }' %}
                {% assign values = row3.qm | sparql_query: query2 %}
                {% for row4 in values %}
                  <code>Rating value: {{ row4.y }}</code>
                {% endfor %}
              </td>
          </tr>
        </tbody>
      </table>
    {% endfor %}
  {% endfor %}
{% endfor %}

<hr/>
